* {
    box-sizing: border-box;
}


#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}



.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;

}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: red
}

.search {
    float: right;
    color: white;
    padding: 12px 75px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

.logo {
    width: 200px;
    height: 200px;
    background: url("./assets/7ede6038fab04cda86e1f16c1f9c6020.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 100px;
    overflow: hidden;
}

.logo:hover {
    transform: scale(0.9, 0.9);
    animation-duration: 500ms;

} 